@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* @theme {
	--color-scheme: dark;
	--font-sans: 'Inter', system-ui, sans-serif;
	--font-display: 'Poppins', system-ui, sans-serif;
} */

/* @variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)); */

body {
	height: auto;
	margin: 0;
	padding: 0;
}

/* Light mode (default and data-theme="light") */
body,
body[data-theme='light'] {
	background-color: #fcfbf5;
	color: #000;
}

/* Dark mode (data-theme="dark") */
body[data-theme='dark'] {
	background-color: #1a1a1a;
	color: #fff;
}
