@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* @theme {
	--color-scheme: dark;
	--font-sans: 'Inter', system-ui, sans-serif;
	--font-display: 'Poppins', system-ui, sans-serif;
} */

/* @variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)); */

body {
	height: auto;
	margin: 0;
	padding: 0;
}

/* Light mode (default) */
@media (prefers-color-scheme: light) {
	body {
		background-color: #fcfbf5;
		color: #000;
	}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #1a1a1a;
		color: #fff;
	}
}
