@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* @theme {
	--color-scheme: dark;
	--font-sans: 'Inter', system-ui, sans-serif;
	--font-display: 'Poppins', system-ui, sans-serif;
} */

/* @variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)); */

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	height: auto;
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
}

/* Light mode (default and data-theme="light") */
body,
body[data-theme='light'] {
	background-color: #fcfbf5;
	color: #000;
}

/* Dark mode (data-theme="dark") */
body[data-theme='dark'] {
	background-color: #1a1a1a;
	color: #fff;
}

/* Axis Labels styling */
.x-axis text,
.y-axis text {
	font-family: fustat;
	font-size: 4em;
}

/* Tick Marks */
.x-axis line,
.y-axis line,
.x-axis path,
.y-axis path {
	stroke: currentColor;
}

/* Tick labels */
.x-axis .tick text,
.y-axis .tick text {
	font-family: fustat;
	font-size: 1.1em;
	fill: currentColor;
}

.container {
	margin-left: auto !important;
	margin-right: auto !important;
}